@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

:root {
  --body-color: #111820;
  --primary-color: #E10043;
  --primary-color-hover: #FFB302;
  --secondary-color: #2a4a96;
  --secondary-color-hover: #ff3838;
  --helper-color: #f58809;
  --helper-color-hover: #17c0eb;
  --gelap-color: #343a40;
  --gelap-color-hover: #23272b;
  --text-color: #fff;
  --ungu-color: #29323b;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: var(--body-color);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  color: #fff!important;
}

a {
  color: var(--text-color);
  font-weight: 700!important;
}

a:hover {
  color: var(--primary-color-hover);
  font-weight: 700!important;
  text-decoration: none;
}

.container-fluid {
  margin: 0!important;
  padding: 0!important;
}

.form-control {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #495057 !important;
  height: 30px;
  border-radius: 3px;
}

.form-control:focus{
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #495057 !important;
  height: 30px;
  border-radius: 3px;
}

::placeholder {
  color: #9c9c9c !important;
  font-size: 14px;
  opacity: .5 !important;
}

.btn {
  width: auto;
  height: 35px;
  line-height: 18px!important;
  color: var(--text-color);
  font-size: 14px;
  border-radius: 3px;
}

.btn-main {
  background-color: var(--secondary-color);
  font-weight: 700;
}

.btn-main:hover {
  background-color: var(--secondary-color-hover);
  color: var(--text-color);
  font-weight: 700;
}

.btn-secondaries {
  background-color: var(--primary-color);
  font-weight: 700;
}

.btn-secondaries:hover {
  background-color: var(--primary-color-hover);
  color: var(--text-color);
  font-weight: 700;
}

.btn-helper {
  background-color: var(--helper-color);
  font-weight: 700;
}

.btn-helper:hover {
  background-color: var(--helper-color-hover);
  color: var(--text-color);
  font-weight: 700;
}

.btn-gelap {
  background-color: var(--gelap-color);
  font-weight: 700;
}

.btn-gelap:hover {
  background-color: var(--gelap-color-hover);
  color: var(--text-color);
  font-weight: 700;
}

hr {
  height: 0.5px;
  background: rgba(213,214,213,.1);
}

.breadcrumb {
  background: none;
  border: 0;
  padding: 0;
  font-size: 0.875rem;
}

#modalLogin {
  width: 96%;
  border-radius: 15px;
  z-index:99999;
}

#modalLogin .modal-body .form-control {
  border: 1px solid #FFB302;
  background-color: #ffffff;
  color: #495057 !important;
  height: 30px;
  border-radius: 3px;
}

#modalLogin .modal-body .form-control:focus{
  border: 1px solid #FFB302;
  background-color: #ffffff;
  color: #495057 !important;
  height: 30px;
  border-radius: 3px;
}

#modalLogin .modal-body ::placeholder {
  color: #9c9c9c !important;
  font-size: 14px;
  opacity: .5 !important;
} 


/* Header */

.topMenu {
  min-height: 60px;
  padding: 7px 3px;
  vertical-align: middle;
}

.topNav {
  background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(26,9,36,1) 80%);
  vertical-align: middle;
  padding-top: 8px;
  padding-bottom: 8px;
}

.topNav ul.nav li.nav-item a.nav-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500!important;
  margin: 5px 10px;
}

.topNav ul.nav li.nav-item a.nav-link:hover {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500!important;
}

/* Header */

/* Body */

section .boxInfo {
  background: var(--ungu-color);
  height: 30px;
  padding: 3px 8px;
  padding-left:0;
  border-radius: 3px;
  font-size: 14px;
}

section .boxInfo .iconAlert {
  background: var(--ungu-color);
  position: relative;
  top:-3px;
  left:0;
  padding-left: 8px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  z-index: 2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

section .boxInfo .contentAlert {
  position: relative;
  top:-30px;
  left:0;
  height: 30px;
  z-index: 1;
}

section .topContent {
  background: var(--ungu-color);
  padding: 8px;
  padding-bottom: 0px;
  border-radius: 3px;
  vertical-align: middle;
}

section .card {
  background: var(--ungu-color);
}

section .gameList {
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6,minmax(0,1fr));
}

section .gameListColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

section .gameListSlot {
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5,minmax(0,1fr));
}

section .gameListSlotColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

section .gameListCasino {
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5,minmax(0,1fr));
}

section .gameListCasinoColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

section .casinoList {
  column-count: 3;
  column-gap: 5px;
}

section .casinoListColoumn {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.slotMenu ul.nav.flex-column li.nav-item a.nav-link {
  background : none;
  color: #fff;
  font-size: .875rem;
  font-weight: 700;
  -webkit-transition: line-height 0.3s ease-in-out;
  transition: line-height 0.3s ease-in-out;
  border-bottom: 1px solid #343a40;
  padding: 0.75rem 1rem;
}

.slotMenu ul.nav.flex-column li.nav-item a.nav-link.active,
.slotMenu ul.nav.flex-column li.nav-item a.nav-link:hover {
  background: rgb(253,208,23,0.3);
  color: #FFB302!important;
}

section .bankList {
  display: grid;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6,minmax(0,1fr));
}

section .bankListColoumn {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
}

.radio-nominale {
    color: white;
    display: none;
    margin: 10px;
    cursor: pointer;
}

.radio-nominale + label {
  text-align: left;
  color: var(--text-color);
  display: inline-block;
  padding: 8px;
  background-color: #311540;
  border: 2px solid #311540;
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  height: 60px;
  font-size: 10px;
}

.radio-nominale:checked + label {
  text-align: center;
  background-image: none;
  background-color: #FFB302;
  color: #fff;
  border: 2px solid #FFB302;
  cursor: pointer;
  border-radius: 0px;
  width: 100%;
  font-size: 10px;
}

section ul.nav.nav-tabs {
  width: 100%;
  border-bottom: 1px solid rgba(213,214,213,.1);
}

section ul.nav.nav-tabs .nav-item {
  width: 33.3%;
  background: none;
  color: #fff;
}

section ul.nav.nav-tabs .nav-item .nav-link {
  width: 100%;
  background: none;
  color: #fff;
}

section ul.nav.nav-tabs .nav-item .nav-link:hover,
section ul.nav.nav-tabs .nav-item .nav-link.active{
  width: 100%;
  background: #311540;
  border: 1px solid #311540;
  border-radius: 0;
  color: #fff;
}
/* Body */

/* Footer */

footer {
  font-size: .75rem;
  background-color: #311540;
  border-top: 1px solid rgba(213,214,213,.1);
  padding-top: 15px;
  padding-bottom: 15px;
}

footer h5.footTitle {
  font-size: 14px;
  font-weight: 700;
}

footer ul.nav.flex-column li.nav-item {
  padding: 2px;
}

footer ul.nav.flex-column li.nav-item a.nav-link {
  font-size: 12px;
  font-weight: 400!important;
  padding:0;
}

.foot_icon {
  width: 64px;
  height: 64px;
  margin-bottom: 25px;
}

.foot_icon a img {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

/* Footer */

/* Component */

.main-content {
  position: relative;
  top: -10px;
  height: 100px;
}

.main-content .owl-carousel {
  height: 100px;
  margin-top: 5px;
}

div.owl-item .item {
  width: 100px!important;
}

.owl-theme .custom-nav {
  position: absolute;
  width: 100%;
  top: 3px;
  margin-top: 0 !important;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff!important;
}

.owl-prev, .owl-next {
  position: absolute;
  height: 100px;
  color: #fff!important;
  background: var(--ungu-color)!important;
  border: none;
  z-index: 100;

}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

/* Component */

/* Responsive */

@media (max-width: 480px) {

  .topNav {
    background: radial-gradient(circle, rgba(61,61,61,1) 0%, rgba(26,9,36,1) 80%);
    vertical-align: middle;
    padding:0;
  }

  .topNav .mobileNavWrapper {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    border-right: 2px solid var(--primary-color);
  }

  .topNav ul.nav {
    width: 650px;
    margin: 0;
  }
  .topNav ul.nav li.nav-item a.nav-link {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700!important;
    margin: 0!important;
  }

  .topNav ul.nav li.nav-item a.nav-link:hover {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 700!important;
  }

  .mobile .mobileNavWrapper {
    width: 100%;
    height: auto;
    overflow-x: scroll;
  }

  .mobile ul.nav {
    width: 520px;
    margin: 0;
  }
  .mobile ul.nav li.nav-item a.nav-link {
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700!important;
    margin: 0!important;
  }

  .mobile ul.nav li.nav-item a.nav-link:hover {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 700!important;
  }

  .mobile section .card {
    background: var(--ungu-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  section .boxInfo {
    background: var(--ungu-color);
    height: 30px;
    padding: 3px 8px;
    padding-left:0;
    border-radius: 3px;
    font-size: 14px;
  }

  section .boxInfo .iconAlert {
    background: var(--ungu-color);
    position: relative;
    top:-3px;
    left:0;
    padding-left: 8px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  section .boxInfo .contentAlert {
    position: relative;
    top:-30px;
    left:0;
    height: 30px;
    z-index: 1;
  }

  section .gameList {
    display: grid;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  section .gameListColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  section .gameListSlot {
    display: grid;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  section .gameListSlotColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  section .gameListCasino {
    display: grid;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2,minmax(0,1fr));
  }

  section .gameListCasinoColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  .mobile section .casinoList {
    column-count: 3;
    column-gap: 5px;
  }

  .mobile section .casinoListColoumn {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }

  section .bankList {
    display: grid;
    grid-gap: .5rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3,minmax(0,1fr));
  }

  section .bankListColoumn {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
  }

  footer {
    font-size: .75rem;
    background-color: #29323b;
    border-top: 1px solid rgba(213,214,213,.1);
    padding-top: 15px;
    padding-bottom: 0;
  }
  
  .foot_icon {
    width: 45px;
    height: 45px;
    margin-bottom: 25px;
  }

  .foot_icon a img {
    display: block;
    width: 45px;
    height: 45px;
    margin: 0 auto;
  }
}

/* Responsive */

/* Sidebar */

.sticky-left {
    position: fixed;
    top: 180px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9900;
  top: 100px;
  right: -15px;
  background: #1a0924;
  transition: 0.5s;
}

.sidenavTop {
  width: 100%;
  margin: 2px;
  padding: 5px;
}

.sidenav .sidebarMenuLeft {
  column-count: 4;
  column-gap: 2px;
}

.sidenav .sidebarMenuLeft .sidebarMenuLeftItem {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  width: 40px;
  margin-bottom: 10px;
}

.sidenavBottom {
  background: var(--ungu-color);
  width: 100%;
  height: 100%;
}

.sidenav .side_navigation ul.nav.flex-column li.nav-item a.nav-link {
  background : none;
  color: #fff;
  font-size: .875rem;
  font-weight: 700;
  -webkit-transition: line-height 0.3s ease-in-out;
  transition: line-height 0.3s ease-in-out;
  border-bottom: 1px solid #343a40;
  padding: 1rem;
}

.sidenav .side_navigation ul.nav.flex-column li.nav-item a.nav-link:hover {
  background: rgb(253,208,23,0.3);
  color: #FFB302!important;
}


/* Sidebar */